/*  
    --------------------
    LANDING PAGE VIEW
    --------------------
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Ubuntu');

//black for background
$primary: rgba(15%, 15%, 17%, 0.85), rgba(15%, 15%, 17%, 0.95);
//red for branding box
$accent: #7002f2;
//white for right triangle
$neutral-white-background: rgba(100%, 100%, 100%, 0.8), rgba(100%, 100%, 100%, 0.9);
$neutral-white: #ffffff;
//gray for presents-text
$neutral-gray: #A19E9F;
//body background
$background-color: #D3DBF2;

//fonts
$primary-font: "Ubuntu";
$secondary-font: "Open Sans Condensed";
$large-font-size: 48px;
$small-font-size: 16px;
$mobile-large-font-size: 24px;
$mobile-small-font-size: 8px;
$mobile-extra-small-font-size: 6px;
$thick-font-weight: 700;
$medium-font-weight: 300;
$uppercase-transform: uppercase;

//Right triangle
$triangle: polygon(100% 0, 0% 100%, 100% 100%);


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: $primary;
}

.page {
    position: relative;
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        $primary),
        url("https://images.unsplash.com/photo-1534972195531-d756b9bfa9f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    z-index: 1;
}

.right-tri {
    background: linear-gradient(
        $neutral-white-background),
        url("https://images.unsplash.com/photo-1531403009284-440f080d1e12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 100%;
    width: 50%;
    -webkit-clip-path: $triangle;
    clip-path: $triangle;
}

.red-brand-box {
    position: absolute;
    width: 8%;
    height: 10%;
    top: 10%;
    left: 10%;
    background: $accent;
    z-index: 2;
}

.white-brand-box {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 15%;
    left: 15%;
    border: solid 6px $neutral-white;
    z-index: 3;
}

.header-text {
    position: absolute;
    top: 25%;
    left: 10%;
    font-family: $secondary-font;
    color: $neutral-gray;
    font-size: $small-font-size;
    font-weight: $medium-font-weight;
}

.title {
    position: absolute;
    top: 25%;
    left: 10%;
    font-family: $primary-font;
    font-size: $large-font-size;
    font-weight: $thick-font-weight;
    color: $neutral-white;
    text-transform: $uppercase-transform;
}

.cta-button {
    position: absolute;
    width: 25%;
    height: 10%;
    bottom: 25%;
    left: 10%;
    background: $accent;
    border: none;
    padding: 10;
    font-family: $primary-font;
    font-size: $small-font-size;
    font-weight: $thick-font-weight;
    color: $neutral-white;
    text-transform: $uppercase-transform;

    -webkit-box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);
}