<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Collaborative Realtime Markdown Editor">
    <meta name="keywords" content="Markdown, HTML, JAM Stack, Editor, Collaborative">
    <meta name="author" content="Jonathan Lemanski">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>MKD-editor</title>
    <link href="css/landing-style.css" rel="stylesheet">
  </head>

  <body>
    <div class="page">
      <div class="right-tri"></div>
      
      <div class="red-brand-box">
        <div class="white-brand-box"></div>
      </div>

      <h3 class="header-text">Jono Lemano presents</h3>
      <h1 class="title">MKD-editor<br />weebapp</h1>

      <button class="cta-button">Get Started</button>

    </div>
  </body>
</html>