<!DOCTYPE html>
<html>
    <head>
        <title>Landing Page</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/landing-style.css" rel="stylesheet">
    </head>
    
    <main>
        <!-- Banner Section -->
        <section id="home" class="d-flex align-items-center position-relative vh-100 cover hero" style="background-image:url(IMG_SRC);">
            <div class="container-fluid container-fluid-max">
              <div class="row">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <h1 class="text-white">...</h1>
                  <div class="mt-3">
                    <a class="btn bg-red text-white mr-2" href="#" role="button">BTN 1</a>
                    <a class="btn bg-red text-white" href="#" role="button">BTN 2</a>
                  </div> 
                </div>
              </div>
            </div>
          </section>
        <!-- Process Section -->
        <section id="process" class="process">
            <div class="container-fluid container-fluid-max">
              <div class="row text-center py-5">
                <div class="col-12 pb-4">
                  <h2 class="text-red">...</h2>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x text-red"></i>
                        <i class="fas fa-map-marked fa-stack-1x text-white"></i>
                      </span>
                      <h3 class="mt-3 text-red h4">...</h3>
                      <p>...</p>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">...</div>
                <div class="col-12 col-sm-6 col-lg-3">...</div>
                <div class="col-12 col-sm-6 col-lg-3">...</div>
                <div class="col-12 pt-3">
                  <a class="btn bg-red text-white" target="_blank" href="#" role="button">BTN 3</a>
                </div>
              </div>
            </div>
          </section>
        <!-- Featured Destinations Section -->
        <section>...</section>
        <!-- Popular Destinations Section -->
        <section>...</section>
        <!-- Request a Quote Section -->
        <section>...</section>
    </main>
</html>