<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Collaborative Realtime Markdown Editor">
    <meta name="keywords" content="Markdown, HTML, JAM Stack, Editor, Collaborative">
    <meta name="author" content="Jonathan Lemanski">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>MKD-editor</title>
    <link href="css/landing-style.css" rel="stylesheet">
  </head>

  <body>
    <script src="urlScript.js"></script>
    
    <div class="page">
      <div class="right-tri"></div>
      
      <div class="brand-box">
        <div class="border-brand-box"></div>
      </div>

      <h3 class="header-text">Collaborative Realtime</h3>
      <h1 class="title">Markdown<br/>Editor</h1>

      <a href="git">
        <button type="button" class="cta-button">Get Started</button>
      </a>

    </div>

  </body>
</html>