/* Responsive layout*/
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

.row {
    display: flex;
}

.column {
    flex: 50%;
}

#textArea {
    font-family: Menlo, Monaco, Consolas, monospace;

    border: none;
    overflow: auto;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -mox-box-shadow: none;
    box-shadow: none;
}

#markdown {
    overflow: auto;
    border-left: 3px solid black;
}